/* 
    Document   : estilo
    Created on : 27/05/2012, 19:41:29
    Author     : luis fernando
    Description:
        Purpose of the stylesheet follows.
*/

body{
    width: 1080px;
    margin: 0 auto;
}


h2{
    font-family: "DejaVu Sans", Verdana, Sans;
    }

